.tabs_button .ant-tabs-tab.ant-tabs-tab-active {

    background: #F66036;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 5px;
}

.bs_tab_item>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab {
    margin: 50px 0 0;
    min-width: 150px;
    align-items: center;
    justify-content: center;
}

.tabs_button>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab .ant-tabs-tab-btn {
    color: #5f5f5f;
}

.tabs_button>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fff;
}

.tabs_button.ant-tabs-top>.ant-tabs-nav::before {
    border: none;
}

.tabs_button>.ant-tabs-nav>.ant-tabs-nav-wrap>.ant-tabs-nav-list>.ant-tabs-ink-bar {
    border: none;
    background: transparent;
}