.card.bs_container,
.scan-container .card {

    border: 1px solid rgba(246, 96, 54, 0.2);
}

.bs_container {
    background: #ffffff;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 10px;
    max-width: 423px;
}

.bs_token_left {
    flex:1;
}

.bs_curreny_left{
    flex: 1;
    text-align: center;
    font-size: 100px;
}

.bs_container_main {
    padding: 26px 41px 34px 44px;
}

button {
    width: 100%;
    background: #f66036;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: none;
    height: 55px;
}

.bs_container_header {
    margin: 0;
    font-size: 30px;
    padding: 26px;
    color: #5f5f5f;
    border-bottom: 1px solid rgba(246, 96, 54, 0.2);
}

.d-flex {
    display: flex;
}

.bs_footer_action {
    padding: 26px;
    border-top: 1px solid rgba(246, 96, 54, 0.2);
}

.bs_footer_action button {
    color: #ffffff;
    background: rgba(95, 95, 95, 0.2);
    border-radius: 5px;
    height: 55px;
}

.bs_token_num {
    font-size: 25px;
    color: #5f5f5f;
}

.bs_token {
    border-top: 1px solid rgba(246, 96, 54, 0.2);
    padding: 26px;
}

.token_grey {
    color: rgba(18, 18, 18, 0.2);
}

.justify-between {
    justify-content: space-between;
}

.bs_purchase {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: fit-content;
    padding: 7px 18px;
    color: #5f5f5f;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 5px;
    margin: auto;
}

.bs_curreny {
    font-size: 100px;
    color: rgba(18, 18, 18, 0.5);
}

.bs_currency_symbol {
    font-size: 50px;
}

.bs_container_header.border-b-0 {
    border-bottom:0;
}

input.search{
    border: 1px solid rgba(246, 96, 54, 0.2);
border-radius: 5px;
height:47px;
font-size:17px;
padding: 14px 15px 15px 48px;
color:#5f5f5f;
}

.width-100{
    width: 100%;
}

.bs_container_select_main{
    padding:20px;
}

.position-relative {
    position: relative;
}

input+.search_icon {
    position: absolute;
    left: 35px;
    top: 33px;
    border-right: 1px solid rgba(246, 96, 54, 0.2);
    padding-right:8px;
}

input::-webkit-input-placeholder {

    color:rgba(95, 95, 95, 0.5);
}

.common__token__subTitle {
    color: rgb(95 95 95 / 20%);
    font-size: 25px;
    line-height: 1.2;
}
.bs_token_container .common__token__title {
    font-size:25px;
    padding:0 10px;
}

.bs_token_container {
    padding:12px 24px;
}

.common_tokens> .bs_token_container:first-child{
    padding-left: 24px;
}

.common__token.bs_token_container {
    border-right:0;
}

.bs_container_create_main {
  text-align:center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width:285px;

}



.bs_container_create_main div{
    font-size:25px;
    color:#5f5f5f;
}

.bs_container_create_footer {
    padding: 25px;
}

