.hive-btn {
  background-color: #FFD000;
  border-color: #FFD000!important;
  font-size: 20px;
  height: 55px;
  color: #fff;
  border-radius: 0;
}

.hive-btn:hover,
.hive-btn:focus,
.hive-btn:active
{
  background-color: #FFB300 !important;
  border-color: #FFB300!important;
}

.hive-btn-2 {
  background-color: #11BE6A;
  border-color: #11BE6A!important;
  font-size: 20px;
  height: 55px;
  color: #fff;
  border-radius: 0;
}

.hive-btn-2:hover {
  background-color: #0EA55A !important;
  border-color: #0EA55A!important;
}

.text-underline-forgot:hover {
  color: #ffb300;
  text-decoration: underline;
}

.email-icon {
  position: absolute;
  right: 21px;
  transform: translate(50%, 50%);
}