.card.bs_container,
.scan-container .card {

    border: 1px solid rgba(246, 96, 54, 0.2);
}

.card.bs_container {
    min-height: 500px;
}

.padding-b-1x {
    padding-bottom: 10px;
    ;
}

.margin-t-1_5x {
    margin-top: 15px;
}

.bs_container {
    background: #ffffff;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 10px;
    max-width: 423px;
}

.bs_token_left {
    flex: 1;
}

.bs_curreny_left {
    flex: 1;
    text-align: center;
    font-size: 100px;
}

.bs_container_main {
    padding: 26px 41px 34px 44px;
}

button {
    width: 100%;
    background: #f66036;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    border: none;
    height: 55px;
    cursor: pointer;
}

.bs_container_header {
    margin: 0;
    font-size: 30px;
    padding: 26px;
    color: #5f5f5f;
    border-bottom: 1px solid rgba(246, 96, 54, 0.2);
}

.d-flex {
    display: flex;
}

.bs_footer_action {
    padding: 26px;
    border-top: 1px solid rgba(246, 96, 54, 0.2);
}

.bs_footer_action button {
    color: #ffffff;
    background: rgba(95, 95, 95, 0.2);
    border-radius: 5px;
    height: 55px;
}

.bs_token_num {
    font-size: 25px;
    color: #5f5f5f;
}

.bs_token {
    border-top: 1px solid rgba(246, 96, 54, 0.2);
    padding: 26px;
}

.token_grey {
    color: rgba(18, 18, 18, 0.2);
}

.justify-between {
    justify-content: space-between;
}

.bs_purchase {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    width: fit-content;
    color: #5f5f5f;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 5px;
    margin: auto;
}

.bs_purchase .ant-space {

    padding: 8px 16px;
}

.bs_curreny {
    font-size: 100px;
    color: rgba(18, 18, 18, 0.5);
}

.bs_currency_symbol {
    font-size: 50px;
}

.bs_container_header.border-b-0 {
    border-bottom: 0;
}

input.search {
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 5px;
    height: 47px;
    font-size: 17px;
    padding: 14px 15px 15px 48px;
    color: #5f5f5f;
}

.width-100 {
    width: 100%;
}

.bs_container_select_main {
    padding: 20px;
}

.position-relative {
    position: relative;
}

input+.search_icon {
    position: absolute;
    left: 35px;
    top: 33px;
    border-right: 1px solid rgba(246, 96, 54, 0.2);
    padding-right: 8px;
}

input::-webkit-input-placeholder {

    color: rgba(95, 95, 95, 0.5);
}

.common__token__subTitle {
    color: rgb(95 95 95 / 20%);
    font-size: 25px;
    line-height: 1.2;
}

.bs_token_container .common__token__title {
    font-size: 25px;
    padding: 0 10px;
}

.bs_token_container {
    padding: 12px 24px;
}

.common_tokens>.bs_token_container:first-child {
    padding-left: 24px;
}

.common__token.bs_token_container {
    border-right: 0;
}

.bs_container_create_main {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 285px;
    padding-top: 40px;

}



.bs_container_create_main div {
    font-size: 25px;
    color: #5f5f5f;
    padding: 25px 0;
}

.bs_container_create_footer {
    padding: 25px;
}

button.ant-btn-link.btn_link span {
    color: #F66036;
    font-size: 20px;
    height: 39px;
    padding-top: 16px;

}

.left_arrow {
    padding-right: 8px;
    cursor: pointer;
}


.bs_container.bs_form {
    padding: 32px 16px 25px 16px;
}

.form_element input:not([type="checkbox"]) {
    background: #FFFFFF;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 3px;
    height: 51px;
    width: 100%;
    font-size: 15px;
    padding: 0 13px;
}

.input_icon {
    position: absolute;
    right: 21px;
    transform: translate(50%, 50%);
}

.terms_conditions {
    color: #2E2D2D;
    font-size: 15px;
    padding-left: 9px;
    text-align: center;
}

.text_link,
.text_link:hover {
    color: #F66036;
}

input[type="checkbox"] {
    height: 38px;
    width: 28px;
    background: #FFFFFF;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 3px;
}

.padding-tb-2x {
    padding-top: 20px;
    padding-bottom: 20px;
}

.terms_conditions_container {
    padding-top: 10px;
    padding-bottom: 30px;
}

.justify-center {
    justify-content: center;
}

.margin-lr-auto {
    margin-left: auto;
    margin-right: auto;
}

.verfication_text {
    width: 280px;
    font-size: 15px;
    color: #5f5f5f;
}

.otp_container input {
    width: 50px;
    height: 65.48px;
    background: #FFFFFF;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
}

.font_20x {
    font-size: 20px;
    color: #5f5f5f;
}

.padding-r-1_x {
    padding-right: 15px
}

.send_code button {
    /* background: rgba(95, 95, 95, 0.2); */
    border-radius: 5px;
}

.bs_main label {
    font-size: 15px;
    color: #5f5f5f;
}

.phone_container .ant-input-group-lg .ant-select-single .ant-select-selector,
.phone_container input {
    background: #FFFFFF;
    border: 1px solid rgba(246, 96, 54, 0.2);
    border-radius: 5px;
    height: 47px;
}

.phone_container .ant-select-single .ant-select-selector .ant-select-selection-item,
.phone_container .ant-select-single .ant-select-selector .ant-select-selection-placeholder {
    line-height: 47px;
}

.phone_container_right {
    flex: 1;
}

[type='number']::-webkit-inner-spin-button, [type='number']::-webkit-outer-spin-button {
    display: none;
}

.ant-dropdown-menu-item {
    padding: 10px 20px;
    font-size: 15px;
}

.ant-dropdown-menu-item:hover {
    color: #F66036;

}

.scan-container.bs_main {

    padding-top: 120px;
}