.last-container {
    width: 100vw;
    height: 611px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100vw 700px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.section-heading {
    color:white;
    font-family: Inter, serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.section-helper-text {
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding: 20px;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 20px;
}

.getStarted:hover {
    box-shadow: #ffffff85 0 5px 7px 0;
    transform: scale(1.05);
}

.getStarted {
    width: 200px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #F66036;
    padding: 15px;
    border-radius: 7px;
}


.currencies {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.currencies-content {
    display: block;
    width: 100%;
    transform: translateX(100%);
    animation: move 30s linear infinite;
}

@keyframes move {
    to { transform: translateX(-100%); }
}

.graphic-image {
    height: 70px;
    width: 70px;
}

.ml-25 {
    margin-left: 25px;
}

.mr-25 {
    margin-right: 25px;
}
