.border,.ant-input-affix-wrapper{
    border: 1px solid rgba(0, 109, 255, 0.2);
    border-radius:5px;
}

.scan-container.market-container {
    flex-direction: column;
}

.search-input-container{
    width:508px;
    height:44px;
}
.ant-input-prefix {
    border-right: 1px solid rgba(0, 109, 255, 0.2);
    padding-right:7px;
}
.tabs-container{
    width:95%;
    margin:67px auto 40px;
    min-height:40px;
}
.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
    border-bottom:none;
}

.ant-tabs-nav{
    padding-left:60px;
}

.grey-strip {
    background: #D9D9D966;
    padding:24px 21px 19px;
   

}

.white-strip {
    background: #fff;
    min-width: 100px;
    height:32px;
    border-radius: 5px;
    width: auto;
}
.margin-lr-2x {
    margin-left:20px;
    margin-right:20px;
}
.white-strip.last-item{
    width: auto;
    margin-left: auto;
}

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
    margin-bottom: 0;
}

.tab-body-container .ant-table-content {
    margin:0 20px;
}