.power-page .card-img-top{
    width: 40px;
    /* height: 40.86px; */
    transition: trasnform 330ms ease-in-out !important;
}

.power-page .card-img-top:hover{
    transform: scale(1.3);
    transition: trasnform 330ms ease-in-out !important;
}

.power-page .card{
    min-width: auto !important;
    min-height: auto;
    align-items: center;
    padding: 10px 10px 10px;
    width: 100px;
    height: 80px;
    border: none;
    border-radius: 0;
    background-color: var(--main-body);
}

.power-page .card-body{
    padding: 0;
}


.power-page  h5{
    width: auto !important;
    background-color: transparent;
    border: none;
    font-size: 10px !important;
    margin-top: 0px;
    color: var(--body_color) !important;
    /* color: var(--body_color); */
}

.power-page .card-text{
    justify-content: center;
    text-align: center;
    color: #000 !important;
    /* color: var(--body_color); */
}


.power-page .col{
    display: flex;
    justify-content: center;
    margin-inline: 0;
}

.up-logos .col{
    width: 7%;
}

.power-page a{
    text-decoration: none !important;
}

@media (max-width: 767px) {
.up-logos .col{
    width: 20%;
}

/* .row{
    display: inline-block;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
} */

.scrollable-head{
    display: flex;
    justify-content: center;
    overflow-x: auto;
    width: 200%;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    overflow: -moz-scrollbars-none;
}

.scrollable-head::-webkit-scrollbar {
    display: none;
  }
  
  .power-header{
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
.power-header::-webkit-scrollbar {
    display: none;
  }
.power-header .container {
    width: 45em;
    height: 80px;
    /* overflow-x: auto;
    white-space: nowrap; */
}
.power-page{
    display: flex;
    justify-content: center;
}
.power-page .card{
    width: 70px;
    height: 50px;
}

.power-page .card-img-top{
    width: auto;
    height: 30px !important;
}
}