.main-header {
    background-color: transparent;
    position: absolute;
    color: white;
    padding: 20px 90px 0 90px;
    height: 50px;
    width: 100%;
}

.app-link {
    font-family: AvenirRegular, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    margin: 0 25px;
    padding: 15px 0 10px;
}

.app-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.td-none {
    text-decoration: none !important;
}

.active {
    border-bottom: 4px solid #F66036;
}

.header-connect-wallet:hover {
    /* box-shadow: #ffffff85 0 5px 7px 0;
    transform: scale(1.05); */
    background-color: #d52f01;
}

.header-connect-wallet {
    width: 200px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #F66036;
    padding: 15px;
    border-radius: 7px;
}

.logo {
    color: #fff;
}

.ant-btn.btn_xl {
    min-width: 270px;
    height: 60px;
    border-radius: 10px;
    font-size: 28px;
}
.ant-btn-primary {
    background-color: #006DFF;
    border-color: #006DFF;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    background-color: #00387d;
    border-color: #00387d;
}

.logo__text {
    font-size: 43px;
    line-height: 1;
}