.main-header {
    background-color: transparent;
    position: absolute;
    color: white;
    padding: 20px 90px 0 90px;
    height: 50px;
    width: 100%;
}

.app-link {
    font-family: AvenirRegular, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    color: #FFFFFF;
    margin: 0 25px;
    padding: 15px 0 10px;
}

.app-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.td-none {
    text-decoration: none !important;
}

.active {
    border-bottom: 4px solid #F66036;
}

.header-connect-wallet:hover {
    /* box-shadow: #ffffff85 0 5px 7px 0;
    transform: scale(1.05); */
    background-color: #d52f01;
}

.header-connect-wallet {
    width: 200px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #F66036;
    padding: 15px;
    border-radius: 7px;
}

.logo {
    color: #fff;
}

.ant-btn.btn_xl {
    height: 55px;
    border-radius: 10px;
    font-size: 20px;
}

.ant-btn-primary {
    background-color: #006DFF;
    border-color: #006DFF;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    background-color: #00387d;
    border-color: #00387d;
}

.logo__text {
    font-size: 30px;
    line-height: 1;
}

.cursor-pointer {
    cursor: pointer;
}

.padding-t-0 {
    padding-top: 0;
}

.padding-2x {
    padding: 20px;
}

.padding-l-1x {
    padding-left: 10px;
}


.padding-t-1x {
    padding-top: 10px;
}

.padding-t-2x {
    padding-top: 20px;
}

.padding-t-3x {
    padding-top: 30px;
}

.padding-l-3x {
    padding-left: 30px;
}

.padding-b-2x {
    padding-bottom: 20px;
}


.padding-r-1_x {
    padding-right: 15px
}


.primary_color {
    color: #006DFF;
}

.header_connect_wallet.ant-btn {
    font-size: 15px;
    height: 40px;
    max-width: 180px;
}


.text-extra-small {
    font-size: 10px;
}

.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}


.d-block {
    display: block;
}

.swap_container {
    background-position: top 90px center;
    background-size: contain;
    background-repeat: no-repeat;
}

.ant-btn.buy_sell_button {
    background-color: #F66036;
    font-size: 15px;
    height: 40px;
}

.text-white {
    color: #fff;
}

.main_navigation {
    padding-top: 14px;
}

.main_navigation .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    color: #fff;
}

.main_navigation .ant-dropdown-menu-item:hover {
    background-color: rgba(211, 211, 211, 0.42);
    color: #fff;
}

.main_navigation.ant-dropdown-menu {
    background-color: #171717;
}

.disable_icon {
    opacity: 0.5;
}