.site_footer {
    background-color: #252525;
    color: #fff;
}

.site_footer_inner {
    padding: 30px 0 0 32px;
}

.site_footer_inner>div {
    flex: 1 1;
}

.social-wrapper ul {
    padding-left: 0;
}

.social-wrapper ul li {
    display: inline;
    margin: 0 20px 0 0;
}

.footer_center_text {
    text-align: center;
    font-size: 10px;
    padding: 20px 0 0;
}



.copyright_bar {
    background-color: #393939;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
}

.row.copyright_bar {
    width: calc(100% + 1.5rem);
}

.flip_icon_container {
    position: relative;
}

.flip_person_icon {
    top: -227px;
    position: absolute;
    right: 0;
    max-width: 360px;
    
}

.flip_woman {
    /* top: -279px; */

    top: -221px;
    max-width: 470px;
}

.copyright_text {
    font-size: 12px;
}

.need_help {
    position: absolute;
    top: -176px;
    right: 32px;
    color: #5F5F5F;
    font-size: 23px;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 10px 14px 22px;
    cursor: pointer;
  
}

.need_help:hover {
    color: #00387d;
}

@media (max-width: 767px) {

    .site_footer_inner {
        flex-direction: column;
        padding-left: 0;
    }

    .site_footer>div>div {
        display: block;
        text-align: center
    }

    .site_footer>div>div.flip_icon_container {
        width: 200px;
        height: 200px;

    }

    .flip_person_icon {
        position: inherit;
        width: 200px;
        height: 200px;
        top: 0;
    }

    .flip_person_icon.flip_woman {

        top: 26px;
    }

    .footercentre2 p,
    .copyright_text {
        font-size: 10px;
    }
}