.hive-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: transparent;
  color: var(--body_color) !important;
}

.side-container{
    background-color: #ffb300;
    width: 1200px;
    /* height: 650px; */
    padding: 20px;
    margin-left: 30px;
}

.honeycomb-container{
  width: 700px;
  /* height: 650px; */
  padding: 20px;
}

.honeybee-container{
  background-color: var(--hive-honeybee);
  width: 1200px;
  /* height: 700px; */
  padding: 20px;
}

.lh_32x{
    line-height: 32px;
    overflow-wrap: break-word;
}
.hexagon {
  position: relative;
  width: 140px;
  height: 144px;
  background-color: transparent;
  clip-path: polygon(48% 4%, 76% 24%, 85% 70%, 60% 100%, 18% 75%, 21% 14%);
  margin: 0 auto;
  overflow: hidden;
}

.hexagon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the entire hexagon */
}

.profile-hexagon {
    position: relative;
    width: 168px;
    height: 175px;
    background-color: transparent;
    clip-path: polygon(48% 4%, 76% 24%, 85% 70%, 60% 100%, 18% 75%, 21% 14%);
    margin: 0 auto;
    overflow: hidden;
  }
  
  .profile-hexagon img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire hexagon */
  }

  .bee-hexagon {
    position: relative;
    width: 57px;
    height: 59px;
    background-color: transparent;
    clip-path: polygon(48% 4%, 76% 24%, 85% 70%, 60% 100%, 18% 75%, 21% 14%);
    /* margin: 0 auto; */
    overflow: hidden;
  }
  
  .bee-hexagon img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire hexagon */
  }

  .side-hexagon {
    position: relative;
    width: 77px;
    height: 79px;
    background-color: transparent;
    clip-path: polygon(48% 4%, 76% 24%, 85% 70%, 60% 100%, 18% 75%, 21% 14%);
    /* margin: 0 auto; */
    overflow: hidden;
  }

  .side-hexagon img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the entire hexagon */
  }
  .permission{
    background-color: #ffb300;
    border-radius: 2px;
    padding: 6px 68px;
    font-size: 18px;
  }

  .MuiRating-iconEmpty {
    color: var(--body_color) !important;
  }

  .MuiInputBase-root.MuiOutlinedInput-root {
    color: var(--body_color) !important;
  }

  .MuiOutlinedInput-notchedOutline{
    border-color: var(--conf-purchase) !important;

  }

  .post-input .MuiInputBase-root.MuiOutlinedInput-root {
    color: var(--body_color) !important;
    border-radius: 2px !important;
    border: 1px solid var(--border-color) !important;
    background-color: var(--body_background) !important;
  }

  
  .post-input .MuiOutlinedInput-notchedOutline{
    border:none !important;

  }

  @media screen and (min-width: 350px) and (max-width: 1000px) {

    .honeycomb-container{
      width: 100%;
      /* height: 650px; */
      padding: 0px;
      padding-top: 40px;
    }

    .hive-container {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 80px;
      background-color: transparent;
      color: var(--body_color) !important;
    }

  }

  .atn-btn-hover {
    background-color: #FFC233; /* Normal state color */
    border-color: #FFC233;
  }
  
  .atn-btn-hover:hover {
    background-color: #FFD55F; /* Lighter color for hover state */
    border-color: #FFD55F;
  }